@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 10%; /* Black #181818 */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 348 61% 47%; /* Red #C72C41 */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 0 0% 10%; /* Black #181818 */
    --secondary-foreground: 0 0% 100%; /* White */
    --muted: 0 0% 96.1%; /* Light Gray #F5F5F5 */
    --muted-foreground: 0 0% 40%;
    --accent: 348 61% 47%; /* Red #C72C41 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 348 61% 47%;
    --chart-1: 348 61% 47%; /* Red */
    --chart-2: 0 0% 10%; /* Black */
    --chart-3: 0 0% 100%; /* White */
    --chart-4: 0 0% 96.1%; /* Light Gray */
    --chart-5: 0 0% 40%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 10%; /* Black #181818 */
    --foreground: 0 0% 100%; /* White */
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 348 61% 47%; /* Red #C72C41 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%; /* White */
    --secondary-foreground: 0 0% 10%; /* Black */
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 100%;
    --accent: 348 61% 47%; /* Red #C72C41 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 348 61% 47%;
    --chart-1: 348 61% 47%;
    --chart-2: 0 0% 100%;
    --chart-3: 0 0% 10%;
    --chart-4: 0 0% 20%;
    --chart-5: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
